body,input,textarea{
    background: #444;
    color: white;
}
input,textarea{
    color: white;
    outline: none;
    border: solid grey 1px;
    font-size: 20px;
    margin: 5px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
}

a {
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: ease 0.2s all;
}

a:hover{
    background: #444;
}

.content{
    margin-top: 50px;
}