{% load static %}
<!DOCTYPE html>
<html>
    <header>
        <title>Ticketing App - {% block title %} {% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static '/css/style-dark.css' %}">
    </header>
    <body>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            | 
            <a href="{% url 'submit' %}">Submit a ticket</a>
            |
            <a href="{% url 'tickets' %}">View tickets</a>
        </nav>
        <section class="content">
        {% block content%}
        {% endblock %}
        </section>  


    </body>
</html>