{% load static %}
<!DOCTYPE html>
<html>
    <header>
        <title>Ticketing</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
    </header>
    <body>
        <h1>Hello World!</h1>
        <p>
            <a href="{% url 'submit' %}">Submit a ticket</a>
            |
            <a href="{% url 'tickets' %}">View tickets</a>
        </p>
    </body>
</html>