{% extends "ticketing/applayout-dark.html" %}
{% block title %} Submit new ticket {% endblock %}

{% block content %}
        Submit you ticket

        <p>
            <form method="post">
                <input type="text" name="title" placeholder="ticket title">
                <br>
                <input type="text" name="username" placeholder="username">
                <br>
                <textarea name="body" placeholder="ticket description"></textarea>

                {% csrf_token %}
                <br>
                <button type="submit">Save</button>
            </form>
        </p>

{% endblock %}