{% extends "ticketing/applayout.html" %}

{% block title %} 
{% load mytags %}
Ticket list 
{% endblock %}

{% block content %}
        <h1>Ticket list</h1>

        <p>
            <ul>
                {% for ticket in tickets %}
                    {% autoescape off %}
                        {% if 'test' in ticket.submitter.lower %}
                            <li>
                                <span style="color:red">
                                    {{ticket}}
                                </span>
                            </li>
                        {% else %}
                            <li>
                                <span style="color:green">
                                    {{ticket}}
                                </span>
                            </li>
                        {% endif %}
                   
                    {% endautoescape %}
                {% endfor %}
            </ul>
        </p>
        <p>
            <a href="{% url 'index' %}">home</a>
        </p>
{% endblock %}